<h1> <%= @restaurant.name %> </h1>
<h4> <%= @restaurant.address %> </h4>
<h4> <%= @restaurant.description %> </h4>
<p> <%= @restaurant.url %> </p>

<img src="<%= @restaurant.image %>" alt="">

<a class="back" href="/">Back to All Brunch Spots</a>
<br/>
<a class="back" href="/restaurants/new">Add a New Brunch Spot</a>
